/* Flex box => Thường dùng cho bootstrap */
.display-flex {
  display: flex;
}
/*  Xếp giữa theo chiều ngang */
.justify-content-center {
  justify-content: center;
}
.flex-row {
  /* display: flex; */
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
/* Hướng sắp xếp cột */
.flex-direction-column {
  /* display: flex; */
  flex-direction: column;
}
/* Hướng sắp xếp theo hàng nganh */
.flex-direction-row {
  display: flex;
  flex-direction: row;
}
/* Chiếm toàn bộ khoảng trống trong container */
.flex1 {
  flex: 1;
}
/* Justify-content */
.justify-content-space-between {
  /* display: flex; */
  justify-content: space-between;
}
.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-start {
  justify-content: flex-start;
}
.justify-content-flex-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}

/* Align-items */
.align-items-center {
  /* display: flex; */
  align-items: center;
}
.align-items-flex-end {
  align-items: flex-end;
}
